<%= form_for @comment do |f| %>
    <%= f.label :content %>
    <%= f.text_area :content %>
    <%= f.hidden_field :listing_id, value: @comment.listing.id %>
    <%= f.submit %>
<% end %>

<% if flash[:errors] %>
        <% flash[:errors].each do |error|%>
        <p style="color:red" > <%= error %> </p>
    <% end %>
<% end %>

<%= button_to "Delete Comment", delete_comment_path(@comment), method: :delete %>