<%= form_for @comment do |f| %>
    <%= f.label :content %>
    <%= f.text_field :content %>
    <%= f.hidden_field :listing_id, value: @comment.listing.id %>
    <%= f.submit %>
<% end %>

<% if flash[:errors] %>
        <% flash[:errors].each do |error|%>
        <p style="color:red" > <%= error %> </p>
    <% end %>
<% end %>

<br> <%= link_to "Home. Temp button", areas_path %>