<div class= "page">
<%= form_for @user do |f|%>
    <%= f.label :edit_name%>
    <%= f.text_field :name%><br>
    <%= f.label :edit_bio%>
    <%= f.text_area :bio%><br>
    <%= f.collection_select :area_id, Area.all, :id, :name %><br>
    <%= f.submit%>
<%end %>

<% if flash[:errors] %>
    <% flash[:errors].each do |error|%>
    <p style="color:red" > <%= error %> </p>
    <% end %>
<% end %>
</div>
