<h1>Log in</h1>
<%= form_tag login_index_path, class: "auth-form" do %>
   <ul>
    <li>
      <%= label_tag :name %>
      <%= text_field_tag :name %>
    </li>
    <li>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </li>
  </ul>
  <%= submit_tag "Log in" %>
<% end %>


<% if flash[:errors] %>
    <p style="color:red" > <%= flash[:errors]%> </p>
<% end %>

<button><%= link_to "Home. Temp button", areas_path %></button>