<!DOCTYPE html>
<html>
  <head>
    <title>DavisList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
    <p>You are currently logged in as: <%= User.find_by(id: session[:user_id]).name%></p>
    <%= button_to "Log out", log_out_path, method: :delete %>
    <%else%>
    <%= link_to "Log in", new_login_path %>
    <%= link_to "Sign up", new_user_path %>
  <%end%>
    <%= yield %>
  </body>
</html>