<!DOCTYPE html>
<html>
  <head>
    <title>DavisList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>
  <header>
  <div class="navbar">
    <h1 class="davis_list">DavisList</h1>
  <% if logged_in? %>
    Logged in as: <button class="logged_in"><%= link_to User.find_by(id: session[:user_id]).name, user_path(session[:user_id]) %></button>
    <button id="log_out"><%= link_to "Log out", log_out_path, method: :delete %></button>
  <%else%>
  <button class="sign_up"><%= link_to "Sign up", new_user_path %></button>
  <button class="log_in"><%= link_to "Log in", new_login_path %></button>
 
  <%end%>
  <button class="home"> <%= link_to "Select Area", areas_path %> </button>
</div>
  </header>
  <body>

    <%= yield %>

  </body>
</html>